html {
    font-size: 66%;
    font-family: Roboto;
}

body {
    font-size: 1.8em;
    max-width: 38em;
    margin: auto;
    color: #dddddd;
    background-color: #120c0e;
    padding: 13px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-family: Roboto;
    margin-bottom: .3em;
    overflow-wrap: break-word;
}

h1 .glow {
    text-shadow: 0 0 3.2px #e26f7a;
}

h1 {
    font-size: 2.35em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
}
h2 { font-size: 2.00em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }

p {
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

small, sub, sup {
    font-size: 75%;
}

hr {
    border-color: gray;
}

a {
    text-decoration: none;
    color: #e26f7a;
}
a:hover {
    color: #DA4453;
    border-bottom: 2px solid #d9d8dc;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #420e0e;
}

header .menu {
    max-width: 62em;
    margin: auto;
}

header .menu .inner {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

header .menu .inner .right {
    float: right;
}

main {
    padding-top: 1em;
}

body {
    max-width: 62em;
}

.imagebuttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    gap: 10px;
}
.imagebutton:hover {
    border-color: #e26f7a;
}
.imagebutton:focus-within {
    border-color: #e26f7a;
    border-width: 4px;
    margin: 0px;
}
.imagebutton {
    flex-grow: 1;
    height: 160px;
    background: gray;
    overflow: hidden;
    position: relative;
    text-align: center;
    border: solid;
    border-width: 2px;
    margin: 2px;
    border-color: #e26f7a;
}
.imagebuttonimg {
    position: absolute;
    width: 100%;
    height: 160px;
    background-size: cover;
    background-position: center center;
}
.imagebuttontext {
    color: white;
    background: #e26f7a;
    opacity: 0.88;
    padding: 10px;
    font-weight: bold;
}

.menu .left {
    padding-left: 4px;
}
.menu .right {
    padding-right: 4px;
}
.menu .left-rest {
    margin-left: 16px;
}
.logo-svg {
    min-width: 19px;
    margin: 0;
    position: absolute;
    offset: relative;
    top: 4px;
}

li {
    margin-bottom: 0;
}

.wide {
    position: absolute;
    left: 0;
    right: 0;
}
